{% extends "base.html" %}

{% block title %}
    Users
{% endblock title %}
{% block content %}
    <h2 class="text-2xl font-bold mb-4">Users</h2>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Company NIT</th>
                <th>Email</th>
                <th>Company</th>
                <th>Roles</th>
                <th>Created At</th>
                <th>Last Login</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.nit.nit }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.nit.name }}</td>
                    <td>
                        <ul>
                            {% for role in user.roles %}
                                <li>{{ role.role_name }}: {{ role.description }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ user.created_at }}</td>
                    <td>{{ user.last_login }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
