{% extends "base.html" %}

{% block title %}
    Contracts
{% endblock title %}
{% block breadcrumb %}
    <div class="bg-[#dee7e7] p-4 rounded-lg shadow-md mb-4 w-full">
        <nav class="text-sm text-gray-600">
            <a href="{% url 'index' %}" class="hover:text-gray-800">Home</a> / <span>Contracts</span>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block content %}
    <style>
        .center-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">Contracts</h2>
        <form method="get" action="{% url 'contracts:show_contracts' %}" class="my-4 flex">
              <input type="text" name="query" id="search-bar" class="form-control border border-gray-300 rounded-l-lg p-2 flex-grow" placeholder="Search contracts">
              <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg border border-gray-300">Search</button>
        </form>
        <div class="overflow-x-auto">
            <table class="table" id="contracts-table">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2 border">Contract ID</th>
                        <th class="px-4 py-2 border">Contract Number</th>
                        <th class="px-4 py-2 border">Company NIT</th>
                        <th class="px-4 py-2 border">Monthly Value</th>
                        <th class="px-4 py-2 border">Start Date</th>
                        <th class="px-4 py-2 border">End Date</th>
                        <th class="px-4 py-2 border">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <td>{{ contract.contract_id }}</td>
                            <td>{{ contract.contract_number }}</td>
                            <td>{{ contract.nit_id }}</td>
                            <td>{{ contract.start_date }}</td>
                            <td>{{ contract.end_date }}</td>
                            <td>{{ contract.monthly_value }}</td>
                            <td>
                                <div class="table-actions">
                                    <a href="{% url 'contracts:show_delivery_certificates' contract.contract_id %}">View Certificates</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Controles de paginación -->
        <div class="pagination mt-4">
            <nav>
                <ul class="flex justify-center space-x-2">
                    {% if contracts.has_previous %}
                        <li>
                            <a href="?page=1"
                               class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">First</a>
                        </li>
                        <li>
                            <a href="?page={{ contracts.previous_page_number }}"
                               class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">Previous</a>
                        </li>
                    {% endif %}
                    {% for num in contracts.paginator.page_range %}
                        {% if num == contracts.number %}
                            <li>
                                <span class="px-3 py-2 border rounded bg-blue-500 text-white">{{ num }}</span>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page={{ num }}"
                                   class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if contracts.has_next %}
                        <li>
                            <a href="?page={{ contracts.next_page_number }}"
                               class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">Next</a>
                        </li>
                        <li>
                            <a href="?page={{ contracts.paginator.num_pages }}"
                               class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">Last</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="center-button mt-6">
            <button 
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                onclick="window.location.href='/leases/add-lease-request/'">
                Add Lease
            </button>
        </div>
    </div>
{% endblock content %}
