{% extends "base.html" %}

{% block title %}
    Delivery Certificates
{% endblock title %}
{% block content %}
    <a href="{% url 'contracts:show_contracts' %}"
       class="inline-block mb-4 px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition duration-300">Back to Contracts</a>
    <h2 class="text-2xl font-bold mb-4">Delivery Certificates</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Certificate ID</th>
                <th>Contract Number</th>
                <th>Delivery Date</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for certificate in delivery_certificates %}
                <tr>
                    <td>{{ certificate.certificate_id }}</td>
                    <td>{{ certificate.contract_id.contract_number }}</td>
                    <td>{{ certificate.delivery_date }}</td>
                    <td>{{ certificate.notes }}</td>
                    <td>
                        <div class="table-actions">
                            <a href="{% url 'contracts:show_equipments' certificate.certificate_id %}">Show Equipments</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
