{% extends "base.html" %}

{% block title %}
    Equipments
{% endblock title %}
{% block content %}
    <a href="{% url 'contracts:show_delivery_certificates' certificate.contract_id.contract_id %}"
       class="inline-block mb-4 px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 transition duration-300">Back to Delivery Certificates</a>
    <h2 class="text-2xl font-bold mb-4">Equipments</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Equipment ID</th>
                <th>Inventory Code</th>
                <th>Description</th>
                <th>Active</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
                <tr>
                    <td>{{ equipment.equipment_id }}</td>
                    <td>{{ equipment.inventory_code }}</td>
                    <td>{{ equipment.description }}</td>
                    <td>{{ equipment.active }}</td>
                    <td>{{ equipment.category_id.category_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
