{% extends "base.html" %}

{% block title %}
    Equipments
{% endblock title %}
{% block content %}
    <h2>Equipments</h2>
    <a href="{% url 'contracts:show_delivery_certificates' certificate.contract_id.contract_id %}">Back to Delivery Certificates</a>
    <table>
        <thead>
            <tr>
                <th>Equipment ID</th>
                <th>Inventory Code</th>
                <th>Description</th>
                <th>Active</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
                <tr>
                    <td>{{ equipment.equipment_id }}</td>
                    <td>{{ equipment.inventory_code }}</td>
                    <td>{{ equipment.description }}</td>
                    <td>{{ equipment.active }}</td>
                    <td>{{ equipment.category_id.category_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
