{% extends "base.html" %}

{% block title %}
    Leases
{% endblock title %}
{% block breadcrumb %}
    <div class="bg-[#dee7e7] p-4 rounded-lg shadow-md mb-4 w-full">
        <nav class="text-sm text-gray-600">
            <a href="{% url 'index' %}" class="hover:text-gray-800">Home</a> / <span>Leases</span>
        </nav>
    </div>
{% endblock breadcrumb %}
{% block content %}
    <style>
        .right-button {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 100%;
        }
    </style>
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold">Leases</h2>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                onclick="window.location.href='/leases/add-lease-request/'">
            Add Lease
        </button>
    </div>
    <div class="my-4">
        <form method="get"
              action="{% url 'leases:show_leases' %}"
              class="my-4 flex">
            <input type="text"
                   name="query"
                   id="search-bar"
                   class="form-control border border-gray-300 rounded-l-lg p-2 flex-grow"
                   placeholder="Search leases" />
            <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg border border-gray-300">
                Search
            </button>
        </form>
    </div>
    <table class="table" id="leases-table">
        <thead>
            <tr>
                <th>Customer NIT</th>
                <th>Request Date (UTC)</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lease in leases %}
                <tr>
                    <td>{{ lease.customer_nit }}</td>
                    <td>{{ lease.request_date }}</td>
                    <td>
                        <span class="badge {% if lease.status == 'pending' %}badge-secondary {% elif lease.status == 'approved' %}badge-success {% elif lease.status == 'rejected' %}badge-danger {% endif %}">
                            {{ lease.status }}
                        </span>
                    </td>
                    <td>
                        <div class="table-actions">
                            <a href="{% url 'leases:show_lease_products' lease.id %}">Show Products</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination controls -->
    <div class="pagination mt-4">
        <nav>
            <ul class="flex justify-center space-x-2">
                {% if leases.has_previous %}
                    <li>
                        <a href="?page=1&search={{ search_query }}"
                           class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">First</a>
                    </li>
                    <li>
                        <a href="?page={{ leases.previous_page_number }}&search={{ search_query }}"
                           class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">Previous</a>
                    </li>
                {% endif %}
                {% for num in leases.paginator.page_range %}
                    {% if num == leases.number %}
                        <li>
                            <span class="px-3 py-2 border rounded bg-blue-500 text-white">{{ num }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ num }}&search={{ search_query }}"
                               class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if leases.has_next %}
                    <li>
                        <a href="?page={{ leases.next_page_number }}&search={{ search_query }}"
                           class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">Next</a>
                    </li>
                    <li>
                        <a href="?page={{ leases.paginator.num_pages }}&search={{ search_query }}"
                           class="px-3 py-2 border rounded bg-gray-200 hover:bg-gray-300">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock content %}
