<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="TechSystem is your go-to platform for tech solutions." />
    <meta name="keywords" content="TechSystem, technology, solutions, platform" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>TechSystem</h1>
      <nav>
        <ul>
          <li>
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'authentication:login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'leases:show_leases' %}">Leases</a>
          </li>
          <li>
            <a href="{% url 'contacts:show_contacts' %}">Contacts</a>
          </li>
          <li>
            <a href="{% url 'contracts:show_contracts' %}">Contracts</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <p>2024 TechSystem. All rights reserved.</p>
    </footer>
  </body>
</html>
