/* static/src/styles.css */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0.375rem; /* Añadir border-radius */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #faf0e6;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-bottom-color: #5c5470;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.375rem; /* Añadir border-radius al enfoque */
}

.nav-link {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    border-bottom-color: black;
}